*.pyc
*.csv
.project
.pydevproject
unused/
.settings/
.DS_Store
r_tmp/
build/
dist/
.Rapp.history
test_data.txt
Thumbs.db
dist.zip
sample_data.zip
version.*
.Rhistory
openmeer_0.1.tar.gz

.Rproj.user
